@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 14px;
}

.box-shadow-hero{
    box-shadow: 0px 6.9px 69.03px 0px #0425521A;
}
.vacans:hover{
    box-shadow: 0px 6.9px 30px 0px #0425521A;
}

html{
    scroll-behavior: smooth;
}
nav a {
    position: relative;
    text-decoration: none;
    color: #000;
}

nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; /* Linkning tagidan chiziq chiqishi uchun joy belgilash */
    width: 0;
    height: 2px; /* Chiziqning qalinligi */
    background-color: #3D9386; /* Chiziqning rangi */
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
    width: 100%; /* Chiziqning kengligini 100% qilish */
    left: 0; /* Chiziqni chapdan boshlanishi uchun */
}

.swiper-slide{
    border-radius: 45px !important;
}